// #region Colors
$surface-color: hsl(0, 0%, 100%);
$hover-color: hsl(0, 0%, 96%);
$text-color: hsl(195, 3%, 24%);
$border-color: hsl(210, 0%, 89%);
$primary-color: hsl(213, 97%, 53%);


// #region Typography
$font-size-default: 14px;
$border-radius-default: 3px;
$spacing-default: 16px;