@use '../../../styles/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray-400);
  text-align: center;
}