@use "../../../../styles/variables";
@use "../../../../styles/mixins";

:host {
  width: 100%;
}

.tree-view {
  font-size: variables.$font-size-default;
  padding-left: 12px;

  &__item {
    @include mixins.flex(column, flex-start, center);
    column-gap: variables.$spacing-default;

    .item {
      &__parent {
        @include mixins.flex(row, space-between, center);
        width: -webkit-fill-available;
        width: -moz-available;
        padding: 7px variables.$spacing-default;
        transition: background-color 0.2s ease-in-out;

        & + * {
          display: none;
        }

        &.expanded {
          & + * {
            display: block;
          }

          .parent__expander {
              transform: rotate(180deg);
          }

          .selector__label {
            font-weight: 600;
          }
        }

        &:hover {
          background-color: variables.$hover-color;
        }

        & > * {
          cursor: pointer;
        }

        .parent {
          &__selector {
            @include mixins.flex(row, flex-start, center);
            column-gap: 10px;
            cursor: pointer;
            width: 100%;

            .selector {
              &__checkbox {
                height: 18px;
                width: 18px;
                accent-color: variables.$primary-color;
              }
            }
          }

          &__expander {
            @include mixins.flex(row, center, center);
            transition: transform 0.2s ease-in-out;
          }
        }
      }
    }
  }
}