@use "styles/typography";
@use "styles/mixins";

.main {
  @include mixins.flex(row, center, center);
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;

  .content {
    @include mixins.flex(row, space-around);
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    margin-top: 32px;

    @media screen and (max-width: 650px) {
        flex-direction: column;
        width: max-content;
    }

    & > div {
      width: 100%;
    }

    & > .left-side, & > .right-side {
      width: 100%;
    }

    .right-side {
      padding: 20px;
    }
  }
}